@import "variables";

/*------------------------------------------------------------------
[Custom styles]
-------------------------------------------------------------------*/


// contact form

/* CF7 structure
================

<label><span>Имя</span>[text* your-name]</label>

<label><span>Телефон</span>[text* your-tel]</label>

<label><span>E-mail</span>[email* your-email]</label>

<label><span>Текст</span>[textarea your-message]</label>

[submit "Отправить"]
 
 */


.contact-form-frontpage {
	
	text-align: left;
	color: $color-dms-text-inv;
	
	.contact-form-frontpage-col {
		padding: 0 100px;
	}
	
	.wpcf7-form {
		
		width: 80%;
		
		p {
			margin-bottom: 35px;
			
			label {
				
				font-family: $font-dms-Roboto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				color: rgba($color-dms-text-inv, 0.5);
				
				margin: 0;
				padding-top: 0;
				padding-bottom: 0;
				
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				
				width: 100%;
				
				& > span {
					width: 20%;
				}
				
				& > span.wpcf7-form-control-wrap {
					width: 80%;
				}
			}
		}
		
		p:last-of-type { // submit
			text-align: right;
		}
		
		
		input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
			border: none;
			border-bottom: 1px solid $color-dms-line-light-op2;
			background-color: transparent;
			outline: none;
			color: $color-dms-text-inv;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			line-height: 1;
			letter-spacing: normal;
			padding-left: 20px;
			padding-bottom: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			width: 100%;
			border-radius: 0;
			
		}
		
		textarea {
			max-height: 100px;
		}
		
		
		input[type=submit] {
			background-color: $color-dms-text-inv;
			color: $color-dms-ac-blue;
			padding: 14px 45px 10px;
			text-transform: uppercase;
			border-radius: 35px;
			border: none !important;
			font-size: 18px;
			font-weight: 700;
			outline: none;
			margin-top: 50px;
			box-shadow: none;
			
			
		}
		
		input:not(:disabled):not(.disabled):active[type=submit] {
			color: $color-dms-ac-blue !important;
			background-color: $color-dms-text-inv !important;
			border-color: $color-dms-text-inv !important;
		}
		
		input:hover[type=submit] {
			color: $color-dms-ac-blue !important;
			background-color: $color-dms-text-inv !important;
			border-color: $color-dms-text-inv !important;
		}
		
		div.wpcf7-response-output {
			margin: 10px;
			padding: 4px;
			border: 1px solid $color-dms-text-inv;
			font-size: 14px;
		}
		
		span.wpcf7-not-valid-tip {
			position: absolute;
			color: #ff8d00;
			padding-top: 4px;
			font-size: 14px;
		}
		
		
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
		::-moz-placeholder { /* Firefox 19+ */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
		:-ms-input-placeholder { /* IE 10+ */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
		:-moz-placeholder { /* Firefox 18- */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
	}
	
	
	// MEDIA
	
	
	@include media-breakpoint-down(lg) {
		
		.contact-form-frontpage-col {
			padding: 0 80px;
		}
		
		.wpcf7-form {
			width: 100%;
		}
	}
	
	@include media-breakpoint-down(md) {
		
		.contact-form-frontpage-col {
			margin-bottom: 80px;
		}
		
	}
	
	@include media-breakpoint-down(sm) {
		.contact-form-frontpage-col {
			padding: 0 15px;
		}
		
		.wpcf7-form p label {
			
			& > span {
				width: 25%;
			}
			
			& > span.wpcf7-form-control-wrap {
				width: 75%;
			}
		}
	}
	
	
}


// popups

.dms-popup-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	display: none;
	z-index: 9995;
	@include media-breakpoint-down(sm) {
		.dms-popup {
			padding: 80px 10px;
			width: 100%;
		}
	}
	
}

.dms-popup {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 40px auto;
	padding: 100px 55px 60px;
	background: $color-dms-ac-blue;
	width: 600px;
	min-height: 400px;
	max-height: 100vh;
	overflow: auto;
}

.dms-popup-close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 20px;
	font-weight: 300;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: $color-dms-text-inv;
	line-height: 20px;
	
	&:hover,
	&:focus {
		color: $color-dms-text-inv;
	}
	
	font-stretch: extra-expanded;
}


.dms-popup-box {
	width: 100%;
	background-color: $color-dms-ac-blue;
	
	.error-box {
		font-family: $font-dms-Roboto;
		font-size: 16px;
		color: #ff8300;
		text-align: center;
		margin-top: 15px;
	}
}

.dms-popup-header {
	text-align: center;
	min-height: 196px;
	
	.h1 {
		font-family: $font-dms-MullerLight;
		font-weight: 500;
		font-size: 57px;
		color: $color-dms-text-inv;
		line-height: 70px;
		margin-bottom: 60px;
		@include media-breakpoint-down(sm) {
			font-size: 40px;
			word-break: break-word;
		}
	}
	
	i {
		color: $color-dms-ac-yellow;
		font-size: 60px;
		margin-bottom: 40px;
	}
}

.dms-popup-main {
	margin: 0 auto;
	
	.inner-main {
		width: 100%;
		margin: 0 auto;
		
		@include media-breakpoint-down(sm) {
			width: 90%;
		}
	}
	
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.field {
			width: 100%;
			max-width: calc(100% - 30px);
			margin-bottom: 16px;
			
			label.error {
				font-family: $font-dms-Roboto;
				font-size: 16px;
				line-height: 1.1;
				color: #ff8300;
				text-align: center;
				display: block;
				margin-top: 4px;
			}
		}
		
		input, input:focus, input:active {
			display: block;
			width: 100%;
			height: 60px;
			border-radius: 50px;
			background: transparent;
			border: 1px solid $color-dms-text-inv;
			font-size: 17px;
			padding-left: 25px;
			color: $color-dms-text-inv;
			position: relative;
			outline: none;
			box-shadow: none;
			
			&::placeholder {
				color: $color-dms-text-inv-op5;
			}
		}
		
		input[type="submit"] {
			background-color: $color-dms-ac-yellow;
			border: none;
			color: $color-dms-ac-blue;
			font-size: 20px;
			max-width: calc(100% - 30px);
		}
	}
	
	.links-login {
		margin-top: 30px;
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		
		a {
			color: $color-dms-text-inv;
			font-family: $font-dms-MullerLight;
			font-size: 18px;
			margin-bottom: 20px;
		}
		
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
	}
}

.dms-reg-popup {
	width: 920px;
	
	.dms-popup-main {
		form {
			margin: 0 auto;
			max-width: 945px;
			
			.lower,
			.upper {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				
				div {
					width: calc(49% - 100px);
					margin-left: 25px;
					margin-right: 25px;
					min-width: 340px;
				}
			}
			
			input[type="submit"] {
				max-width: 49%;
				margin: 0 auto;
				display: block;
				min-width: 300px;
			}
			
			input[type="password"]::after {
				content: ">";
				position: absolute;
				right: 0;
				color: green;
			}
			
			hr {
				width: 98%;
				border: none;
				border-top: 2px dashed $color-dms-text-inv;
				margin: 20px 0 35px;
			}
			
			.g-recaptcha {
				div:first-of-type {
					margin: 0 auto;
				}
			}
			
		}
	}
	
	@include media-breakpoint-down(md) {
		width: 764px;
		padding: 100px 20px 60px;
		
		.dms-popup-main {
			form {
				.lower,
				.upper {
					input, div {
						min-width: 300px;
					}
				}
			}
		}
	}
	
	@include media-breakpoint-down(sm) {
		.dms-popup-main {
			form {
				.lower,
				.upper {
					input, div {
						width: calc(99% - 100px);
						min-width: 310px;
					}
				}
			}
		}
	}
}


