@import "variables";

/*------------------------------------------------------------------
[Custom styles]
-------------------------------------------------------------------*/


// contact form

.contact-form-frontpage {
	
	text-align: left;
	color: $color-dms-text-inv;
	
	.contact-form-frontpage-col {
		padding: 0 100px;
	}
	
	.wpcf7-form {
		
		width: 80%;
		
		p {
			margin-bottom: 35px;
			
			label {
				
				font-family: $font-dms-Roboto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				color: rgba($color-dms-text-inv, 0.5);
				
				margin: 0;
				padding-top: 0;
				padding-bottom: 0;
				
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				
				width: 100%;
				
				& > span {
					width: 20%;
				}
				
				& > span.wpcf7-form-control-wrap {
					width: 80%;
				}
			}
		}
		
		p:last-of-type { // submit
			text-align: right;
		}
		
		
		input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
			border: none;
			border-bottom: 1px solid $color-dms-line-light-op2;
			background-color: transparent;
			outline: none;
			color: $color-dms-text-inv;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			line-height: 1;
			letter-spacing: normal;
			padding-left: 20px;
			padding-bottom: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			width: 100%;
			border-radius: 0;
			
		}
		
		textarea {
			max-height: 100px;
		}
		
		
		input[type=submit] {
			background-color: $color-dms-text-inv;
			color: $color-dms-ac-blue;
			padding: 14px 45px 10px;
			text-transform: uppercase;
			border-radius: 35px;
			border: none !important;
			font-size: 18px;
			font-weight: 700;
			outline: none;
			margin-top: 50px;
			box-shadow: none;
			
			
		}
		
		input:not(:disabled):not(.disabled):active[type=submit] {
			color: $color-dms-ac-blue !important;
			background-color: $color-dms-text-inv !important;
			border-color: $color-dms-text-inv !important;
		}
		
		input:hover[type=submit] {
			color: $color-dms-ac-blue !important;
			background-color: $color-dms-text-inv !important;
			border-color: $color-dms-text-inv !important;
		}
		
		div.wpcf7-response-output {
			margin: 10px;
			padding: 4px;
			border: 1px solid $color-dms-text-inv;
			font-size: 14px;
		}
		
		span.wpcf7-not-valid-tip {
			position: absolute;
			color: #ff8d00;
			padding-top: 4px;
			font-size: 14px;
		}
		
		
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
		::-moz-placeholder { /* Firefox 19+ */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
		:-ms-input-placeholder { /* IE 10+ */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
		:-moz-placeholder { /* Firefox 18- */
			color: $color-dms-text-inv-op5;
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
		}
		
	}
	
	
	// MEDIA
	
	
	@include media-breakpoint-down(lg) {
		
		.contact-form-frontpage-col {
			padding: 0 80px;
		}
		
		.wpcf7-form {
			width: 100%;
		}
	}
	
	@include media-breakpoint-down(md) {
		
		.contact-form-frontpage-col {
			margin-bottom: 80px;
		}
		
	}
	
	@include media-breakpoint-down(sm) {
		.contact-form-frontpage-col {
			padding: 0 15px;
		}
		
		.wpcf7-form p label {
			
			& > span {
				width: 25%;
			}
			
			& > span.wpcf7-form-control-wrap {
				width: 75%;
			}
		}
	}
	
	
}
