// import global variables
@import '../../../../assets/css/front/bootstrap_dependencies';


.shortcode-cert {
	
	padding: 100px 0 20px;
	text-align: center;
	
	.s-cert-title {
		margin-bottom: 80px;
		text-align: left;
	}
	
	.s-cert {
		
	}
	
	.s-cert__img {
		width: 100%;
	}
	
	.s-cert__body {
		margin: 14px 0 80px;
	}
	
	.s-cert__title {
		
		
		&, a {
			font-family: $font-dms-Roboto;
			font-size: 16px;
			line-height: 25px;
			font-weight: bold;
			color: $color-dms-text-dark;
		}
	}
	
	.s-cert__text {
		margin-top: 2px;
		
		&, a {
			font-family: $font-dms-Roboto;
			font-size: 18px;
			line-height: 25px;
			color: $color-dms-text;
		}
	}
	
	
	// MEDIA
	
	@include media-breakpoint-down(md) {
		padding: 80px 0 20px;
		
		.s-cert-title {
			margin-bottom: 60px;
		}
		
		.s-cert {
			
		}
		
		.s-cert__img {
			width: 80%;
		}
		
		.s-cert__body {
			margin: 30px 0 80px;
		}
		
		.s-cert__title {
			font-size: 30px;
			line-height: 38px;
		}
		
		.s-cert__text {
			font-size: 20px;
			line-height: 24px;
		}
	}
	
	
	@include media-breakpoint-down(xs) {
		
		padding: 60px 0 20px;
		
		
		.s-cert-title {
			margin-bottom: 40px;
		}
		
		.s-cert {
			
		}
		
		.s-cert__img {
			width: 70%;
		}
		
		.s-cert__body {
			margin: 20px 0 80px;
		}
		
		.s-cert__title {
			
		}
		
		.s-cert__text {
			
		}
	}
	
} 
                                                            