@font-face {
	font-family: 'MullerRegular';
    font-weight: normal;
	src: url('../fonts/Muller/MullerRegular.otf') format('opentype'); 
} 
@font-face {
	font-family: 'MullerBold';
    font-weight: bold;
	src: url('../fonts/Muller/MullerBold.otf') format('opentype'); 
} 
@font-face {
	font-family: 'MullerLight';
    font-weight: 300;
	src: url('../fonts/Muller/MullerLight.otf') format('opentype'); 
} 