// import global variables
@import '../../../../assets/css/front/bootstrap_dependencies';


.shortcode-test {
	position: relative;
	padding: 100px 0;
	background-color: $color-dms-bg-grey;
	color: $color-dms-text-dark;
	
	.s-test-title {
		margin-bottom: 60px;
		text-align: left;
	}
	
	.s-test__left {
		margin: 0;
	}
	
	.s-test__right {
		position: relative;
		text-align: center;
		padding: 50px 15px;
	}
	
	// typo
	
	.s-test__img_box {
		margin-bottom: 30px;
	}
	
	.s-test__text {
		margin: 0 95px 40px;
		text-align: center;
		
		&, a {
			font-family: $font-dms-Roboto;
			font-size: 16px;
			line-height: 1.67;
			font-weight: normal;
			font-style: normal;
			letter-spacing: -0.2px;
			font-stretch: normal;
			color: $color-dms-text-dark;
		}
	}
	
	.s-test__btns {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: 0;
	}
	
	.s-test__btn_try {
		display: block;
		padding: 0 30px 0 40px;
		font-family: $font-dms-Roboto;
		font-size: 18px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 3;
		letter-spacing: normal;
		color: $color-dms-text-inv;
		background-color: $color-dms-ac-blue;
		margin-bottom: 20px;
		
		.arrow-box {
			width: 13px;
			height: 100%;
			margin-left: 15px;
			margin-right: 3px;
			padding-left: 15px;
			border-left: 1px solid rgba($color-dms-text-inv, 0.5);
			
			.arrow-right {
				border: solid $color-dms-text-inv;
				border-width: 0 2px 2px 0;
			}
		}
		
		word-break: keep-all;
		white-space: nowrap;
	}
	
	
	// FORM
	
	.s-test__try_form {
		
		label {
			font-family: $font-dms-Roboto;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: $color-dms-text;
			text-align: left;
			margin: 0;
			padding-top: 0;
			padding-bottom: 0;
			display: flex;
			align-items: flex-end;
		}
		
		input {
			//height: 67px;
			height: 100%;
			border: none;
			border-radius: 0;
			padding: 19px 40% 19px 19px;
			
			font-family: $font-dms-MullerRegular;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: $color-dms-text-dark;
			background-color: transparent;
			border-bottom: 1px solid rgba($color-dms-text, 0.5);
		}
		
		.s-test__input_rel {
			position: relative;
			
			.s-test__input_result {
				position: absolute;
				top: 0;
				right: 0;
			}
			
			.result_row {
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 4px;
				font-family: $font-dms-Roboto;
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				text-align: right;
				color: $color-dms-ac-blue;
				
				&.result_row_gender {
					font-size: 30px;
					font-weight: 600;
				}
			}
		}
		
		
	}
	
	
	// MEDIA
	
	
	@include media-breakpoint-down(lg) {
		padding: 60px 0 90px;
		
		.s-test-title {
			margin-bottom: 10px;
		}
		.s-test__text {
			margin: 0 20% 40px;
			
			&, a {
				font-size: 18px;
			}
		}
	}
	
	@include media-breakpoint-down(md) {
		
	}
	
	@include media-breakpoint-down(sm) {
		.s-test__text {
			
			&, a {
				font-size: 18px;
			}
		}
		
		.s-test__btn_try {
			padding: 0 60px;
			margin-right: 0;
			margin-bottom: 30px;
			border-radius: 100px;
			font-size: 24px;
			
			.arrow-box {
				display: none;
			}
		}
	}
	
	
	@include media-breakpoint-down(xs) {
		.s-test__text {
			margin: 0 10px 40px;
		}
	}
	
} 
                                                            