@import "../_variables";

/*------------------------------------------------------------------
[Global styles]
-------------------------------------------------------------------*/
body {
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.59;
	letter-spacing: normal;
	color: $color-dms-text;
}


h1, h2 {
	font-family: $font-dms-MullerLight;
	font-size: 60px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.37;
	letter-spacing: -1.7px;
	color: #43484d;
	
	@include media-breakpoint-down(sm) {
		font-size: 48px;
		font-weight: 300;
		line-height: 1.71;
		letter-spacing: -1.3px;
	}
	
	@include media-breakpoint-down(xs) {
		font-size: 40px;
		word-break: break-word;
	}
}

h3 {
	font-family: $font-dms-MullerBold;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	letter-spacing: -1.8px;
	
}

h4, h5, h6 {
	font-family: $font-dms-MullerLight;
	font-size: 42px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -1.2px;
	
	@include media-breakpoint-down(sm) {
		font-size: 52px;
		letter-spacing: normal;
	}
	
	@include media-breakpoint-down(xs) {
		font-size: 36px;
	}
}


p {
	margin-bottom: 50px;
}

strong, b {
	font-weight: bold;
}

a {
	color: $color-dms-text-a;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus, a:active {
	color: $color-dms-text-a;
	text-decoration: none;
}

// ------------------


.align-center {
	text-align: center;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
}

.aligncenter {
	display: block;
	margin: 0 auto 10px auto;
}

.screen-reader-text {
	visibility: hidden;
	position: absolute;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	&[type="text"],
	&[type="number"],
	&[type="password"],
	&[type="date"],
	&[type="url"],
	&[type="search"] {
		@extend .form-control;
	}
}

textarea {
	@extend .form-control;
}

button, input[type="submit"] {
	@extend .btn;
}

input[type="submit"] {
	@extend .btn-primary;
}

/** By Envato requirements */
.wp-caption,
.wp-caption-text,
.screen-reader-text,
.gallery-caption,
.bypostauthor {
	border: 0;
}

.dms-accent-text {
	font-family: $font-dms-Roboto!important;
	font-size: 18px;
	font-weight: 500;
	font-style: normal!important;
	font-stretch: normal!important;
	line-height: 1.33;
	letter-spacing: normal!important;
	color: $color-dms-ac-green!important;
	
	
	@include media-breakpoint-down(sm) {
		font-size: 28px;
	}
	
	@include media-breakpoint-down(xs) {
		font-size: 24px;
	}
}

.btn-arrow {
	display: block;
	white-space: nowrap;
	color: $color-dms-ac-blue;
	font-family: $font-dms-Roboto;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	padding: 0 27px 0 30px;
	line-height: 40px;
	border: 1px solid $color-dms-ac-blue;
	border-radius: 42px;
	background-color: #fff;
	&:hover, &:focus, &:active {
		color: $color-dms-ac-blue;
	}
}

.arrow-box {
	display: inline-block;
	width: 9px;
	height: 100%;
	margin-left: 15px;
	margin-right: 3px;
	padding-left: 10px;
	border-left: 1px solid rgba($color-dms-ac-blue, 0.5);
	
	.arrow-right {
		border: solid $color-dms-ac-blue;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 4px;
		transform: rotate(-45deg);
	}
}


