/*------------------------------------------------------------------
[Nav Menu Updated Style]
-------------------------------------------------------------------*/

.main-nav-section {
	position: fixed;
	background: $color-dms-bg-grey;
	min-height: 800px;
	min-height: 100vh;
	min-width: 400px;
	padding: 60px 30px 160px 30px;
	top: 0;
	right: -100%;
	z-index: 99;
	
	font-family: $font-dms-MontserratRegular;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	text-align: center;
	color: $color-dms-text-dark;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	box-shadow: rgb(170, 170, 170) 1px 1px 7px;
	
	@include media-breakpoint-down(sm) {
		& {
			position: absolute;
			//min-height: unset;
			min-width: 550px;
			text-align: right;
			padding: 170px 50px 277px 50px;
			min-height: unset;
		}
	}
	
	@include media-breakpoint-down(xs) {
		& {
			min-width: unset;
			width: 85%;
			text-align: right;
			padding: 170px 30px 170px 30px;
		}
	}
	
	
	.menu-button {
		position: absolute;
		margin: 0;
		top: 30px;
		right: 30px;
		@include media-breakpoint-down(sm) {
			& {
				top: 30px;
				right: 50px;
			}
		}
	}
	
	
	.dms-menu-info-box {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 160px;
		min-width: 100%;
		padding: 0 30px;
		display: flex;
		justify-content: center;
		align-content: center;
		@include media-breakpoint-down(sm) {
			& {
				justify-content: flex-end;
				padding: 0 50px;
				min-height: 277px;
			}
		}
		@include media-breakpoint-down(xs) {
			& {
				min-height: 170px;
				padding: 0 30px;
			}
		}
	}
	
	.dms-menu-info {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		justify-content: center;
		align-content: center;
		border-top: 2px dashed $color-dms-line-inv-op2;
		padding: 20px;
		
		& > * {
			margin-bottom: 5px;
		}
		
		@include media-breakpoint-down(sm) {
			& {
				align-content: flex-end;
				padding: 20px 0;
				
				&, a {
					font-family: $font-dms-MullerLight;
					font-size: 24px;
					font-weight: 300;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.67;
					letter-spacing: 1.2px;
					text-align: right;
					color: $color-dms-text-dark;
				}
				
			}
		}
		
		@include media-breakpoint-down(xs) {
			& {
				
				padding: 0;
				
				&, a {
					font-size: 12px;
					letter-spacing: 0.5;
				}
				
			}
		}
		
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	.main-nav-brand {
		display: none;
		position: absolute;
		top: 70px;
		left: 50px;
		
		img {
			display: block;
		}
		
		@include media-breakpoint-down(sm) {
			& {
				display: block;
				width: 200px;
				height: 70px;
				object-fit: cover;
			}
		}
		
	}
	
	
	.menu-avatar-box {
		display: none;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		padding: 40px;
		//margin: 40px 0;
		background-repeat: repeat;
		background-size: cover;
		background-position: center center;
		
		@include media-breakpoint-down(sm) {
			& {
				display: block;
			}
		}
		@include media-breakpoint-down(xs) {
			& {
				//margin: 40px 0 20px;
			}
		}
		
	}
	
	
	.navbar-funcs2 {
		display: none;
		font-family: $font-dms-Roboto;
		font-size: 28px;
		font-weight: 500;
		
		.callback-link {
			display: block;
			color: $color-dms-text-a;
			text-decoration: underline;
			white-space: nowrap;
			text-transform: none;
			margin: 80px 0 0 0;
			
			&:hover,
			&:focus,
			&:active {
				color: $color-dms-text-a;
			}
		}
		
		.lang-list {
			margin: 40px 0 80px;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			list-style: none;
			//list-style-type: none;
			padding: 0;
			white-space: nowrap;
			color: $color-dms-text-a;
			text-transform: uppercase;
			
			li {
				margin-left: 20px;
			}
			
			a {
				color: rgba($color-dms-text-a, 0.5);
				text-decoration: underline;
				
				&:hover,
				&:focus,
				&:active {
					color: rgba($color-dms-text-a, 0.5);
				}
			}
		}
		
		@include media-breakpoint-down(sm) {
			& {
				display: block;
			}
		}
		@include media-breakpoint-down(xs) {
			& {
				font-size: 20px;
				
				.callback-link {
					margin: 50px 0 0 0;
				}
				.lang-list {
					margin: 40px 0 50px;
				}
			}
		}
		
	}
}


// ---------------------------

.navigation-menu {
	padding-top: 40px;
	//padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	//background-color: #f7dddc !important;
	
	@include media-breakpoint-down(sm) {
		& {
			justify-content: flex-end;
			
			a {
				font-family: $font-dms-MullerLight;
				font-size: 30px;
				font-weight: 300;
				letter-spacing: 1.5px;
				text-align: right;
				color: $color-dms-text-dark;
			}
			
		}
	}
	
	@include media-breakpoint-down(xs) {
		& {
			justify-content: flex-end;
			//padding-top: 40px;
			
			a {
				font-size: 20px;
				letter-spacing: 1px;
			}
			
		}
	}
	
	
	.sub-menu {
		z-index: 999;
	}
	
	ol,
	ul,
	li {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	
	ul:first-child {
		> .menu-item {
			&:not(:last-child) {
				//margin-right: 30px;
			}
		}
	}
	
	.menu-item {
		&:not(:last-child) {
			.menu-item {
				margin-right: 0;
			}
		}
	}
	
	
	.mobile-menu {
		
		float: none;
		text-align: center;
		
		@include media-breakpoint-down(sm) {
			& {
				text-align: right;
			}
		}
		
		
		&.mobile-menu-active {
			padding-top: 15px;
		}
		
		li {
			position: relative;
			display: block;
			//width: 100%;
			padding: 10px 0;
			
			&.menu-item-has-children {
				
				& > a {
					position: relative;
					
					&.active {
						color: $color-dms-text-a;
						text-decoration: underline;
					}
				}
				
				ul {
					display: none;
					
					li {
						a {
							width: auto;
						}
						
						ul {
							padding: 0;
						}
					}
					
					& > .menu-item-has-children {
						ul > li {
							padding: 7px 0;
						}
						
						ul > li:last-child {
							padding-bottom: 0;
						}
					}
					
					&.mobile-menu {
						left: auto;
						right: 0;
						
						li {
							.mobile-menu {
								display: none;
							}
						}
						
						& > li.active {
							.mobile-menu {
								display: inline-block;
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
				
				& > ul {
					background-color: transparent;
					pointer-events: all;
					margin-top: 10px;
					
					& > li {
						position: relative;
						display: block;
						margin-bottom: 0;
						padding: 10px 0;
						float: none;
						
						&:first-child {
							ul {
								li {
									width: 100%;
								}
							}
							
							& > ul {
								display: none;
								width: 100%;
								position: relative;
							}
						}
						
						&.active {
							& > a {
								//color: #fff;
								//background-color: #3b3b4c;
							}
							
							& > ul {
								display: inline-block;
								opacity: 1;
								visibility: visible;
							}
						}
						
						.rh-arrow {
							.active {
								top: 10px;
							}
						}
					}
					
				}
			}
			
			&:not(:last-child) {
				margin-right: 0;
			}
			
			ul {
				width: 100%;
				
				li {
					ul.sub-menu {
						& > li {
							width: 100%;
						}
					}
				}
			}
			
			.rh-arrow {
				position: absolute;
				opacity: 1;
				top: 17px;
				right: -10px;
				left: auto;
				border: 6px solid transparent;
				border-top: 6px solid $color-dms-text-a;
				transform: translate(0) rotate(0deg);
				transition: 0.2s linear;
				cursor: pointer;
				
				@include media-breakpoint-down(sm) {
					& {
						top: 30px;
						right: -30px;
					}
				}
				
				
			}
			
			& > .rh-arrow {
				&.active {
					top: 16px;
					transform: translate(0) rotate(180deg);
				}
			}
			
		}
		
		ul {
			display: none;
		}
		
		.menu-item-has-children.active .sub-menu {
			opacity: 1;
			visibility: visible;
		}
		
	}
	
	//}
}

// ---------------------------

.menu-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	//z-index: 999;
	outline: none;
	height: 30px;
	
	span {
		margin: 0 auto;
		position: relative;
		transition-duration: 0s;
		transition-delay: 0.2s;
		background-size: 0;
		
		&:before {
			margin-top: -9px;
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			transition-property: margin, transform;
			transition-duration: 0.2s;
			transition-delay: 0.2s, 0s;
		}
		
		&:after {
			margin-top: 9px;
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition-property: margin, transform;
			transition-duration: 0.2s;
			transition-delay: 0.2s, 0s;
		}
		
		&:before,
		&:after {
			content: '';
			position: absolute;
			transform: initial;
		}
		
		&,
		&:before,
		&:after {
			width: 32px;
			height: 4px;
			background-color: $color-dms-text-a;
			display: block;
			border-radius: 2px;
		}
	}
	
	&:focus {
		outline: none;
	}
	
	&.active {
		span {
			background-color: rgba(0, 0, 0, 0);
			transition-delay: 0s, 0.2s;
			
			&:before {
				margin-top: 0;
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				transition-delay: 0s, 0.2s;
			}
			
			&:after {
				margin-top: 0;
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				transition-delay: 0s, 0.2s;
			}
		}
	}
}
